.feedbackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  width: 600px;
}

.leaveFeedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.leaveFeedback h1 {
  font-size: 40px;
}

.leaveFeedbackDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.leaveFeedbackDiv button {
  border-radius: 10px;
  width: 60px;
  height: 25px;
}

.feedbackResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.feedbackResults h2 {
  font-size: 35px;
}

.feedbackResults p {
  font-size: 25px;
}

.feedbackContainer > p {
  font-size: 30px;
}
